.title-center {
  background-color: rgb(242, 246, 247);
}
.widget-title {
  text-align: center;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.widget {
  display: flex;
  justify-content: space-between;
}
.widget-content {
  width: 540px;
  height: 480px;
}
.doc-slider {
  margin: 15px auto;
  width: 80%;
}
.sketch-widget {
  margin: 40px 0;
}
.sketch-container {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}
.sketch-container img {
  width: 49%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  min-height: 440px;
  margin: 1%;
}
.slide .carousel-control-prev-icon {
  width: 60px;
  height: 60px;
  background: url("../images/pervious.png");
  background-size: 50px;
  background-repeat: no-repeat;
}
