.data {
  padding-top: 2%;
}
.section_text2 {
  background-position: center;
  text-align: center;
  padding: 12%;
}

.data-text a {
  color: #000;
}
.data-number {
  background-image: url("../images/green-circle.png");
  background-repeat: no-repeat;
  text-align: left;
  background-position: bottom;
  font-size: 167px;
  color: #0a5169;
  min-height: 143px;
  background-size: 119px;
  font-weight: 700;
  line-height: 87px;

  letter-spacing: 0;
}
.data-text {
  text-align: left;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.14px;
  font-family: "Raleway", sans-serif;
  color: #000;
}
.try_btn {
  text-align: center;
  padding: 60px 0;
}
.try_btn button {
  min-width: 159px;
  height: 40px;
  font-weight: 400;
}
.howitworks {
  background: rgba(10, 81, 105, 0.05) 0 0 no-repeat padding-box;
  z-index: 99;
}
